* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

input {
  border: 0;
  outline: 0;
}

button {
  color: var(--foreground);

  cursor: pointer;

  border: 0;
  outline: 0;
  background-color: transparent;

  user-select: none;
  -webkit-user-select: none;
}