.content-container {
  --layout-padding: 20px;
  --content-size: 1060px;
  --content-dynamic-size: calc(100dvw - (var(--layout-padding) * 2));

  width: min(var(--content-dynamic-size), var(--content-size));
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pointer-none {
  pointer-events: none;
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
}